body {
    font-family: 'Montserrat', sans-serif !important;
}

.container-fluid {
    padding: 0 !important;
}
ul{
    list-style: none;
}
.uppercase{
    color:#000;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}
.small-text{
    color: #A9A9A9;
    font-size: 12px;
}
a:hover{
    text-decoration: none !important;
}
/* Banner-overlay */

.banner {
    background: url(../images/banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: none;
    /* height: 730px; */
    position: relative;
    padding: 0 !important;
}

.banner::before {
    content: ' ';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(to bottom, #ea7479, #f98c6f, #fea868, #fcc66a, #f2e477);
    opacity: .8;
}

/* Navbar */

.navbar {
    padding: 0 !important;
    margin: 0 !important;
}

.navbar ul {
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline-block;
    padding: 20px 8px 0;
}

.navbar ul .active {
    padding-left: 0;
}

/* .navbar .active a{
    color: #F6F17E !important;
    border-bottom: 1px solid #F6F17E;
} */

.navbar ul li a {
    text-decoration: none;
    padding-bottom: 6px;
    font-size: 14px;
    color: #fff;
}

.navbar ul li a:hover {
    border-bottom: 1px solid #F6F17E;
    color: #F6F17E;
}

/* Logo */

.logo {
    padding: 10px;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
}

/* Content */

.content {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content p {
    color: #fff;
}

.content p:first-child {
    font-size: 52px;
    font-family: 'Kaushan Script', sans-serif;
    margin-bottom: 20px;
}

.content p:nth-child(n+2):nth-child(-n+3){
    font-size: 110px;
    line-height: 100px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 35px;
}

/* Underline */

.underline {
    width: 60px;
    border-top: 2px solid #fff;
    /* display: inline-block; */
}
.underline-color{
    width: 60px;
    border-top: 2px solid #ea7479;
    display: inline-block;
    margin: 10px 0;
}

/* Lear more */

.banner .content a {
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    padding: 6px 18px;  
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 90px;
}
.content a:hover{
    color: #764248;
    background-color: #d1ca98;
    border-color: #d1ca98;
}

/* Slide */

.slide {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.slide span {
    font-size: 24px;
    font-weight: 600;
}

.slide div {
    color: #fff;
    font-size: 18px;
    padding: 16px 0;
    border-top: 2px solid #fff;
}

/* About-us */

.about-us {
    /* margin-top: 50px; */
    margin-bottom: 50px;
}

/* Title */

.title {
    position: relative;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.title p:first-child {
    font-family: 'Kaushan Script';
}

.title p:nth-child(2) {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: uppercase;
}


.title :nth-child(4) {
    margin: 30px 70px 60px;
    color: #AFAFAF;
    font-size: 10px;
}

/* Pictures */

.picture {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.card img {
    width: 100%;
    transition: 300ms ease-out;
}

.card {
    position: relative;
    background: #8AE8D4;
}

.card .social {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    transition: 300ms ease-out;
    visibility: hidden;
}

.card i {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.card::before {
    content: '';
    position: absolute;
    background-image: linear-gradient(to bottom, #ea7479, #f98c6f, #fea868, #fcc66a, #f2e477);
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.8;
    visibility: hidden;
    transition: 300ms ease-out;
}

.card:hover img {
    transform: translate(-10px, -10px);
}

.card:hover .social {
    transform: translate( -58%, -68%);
    visibility: visible;
}

.card:hover::before {
    transform: translate(-10px, -10px);
    visibility: visible;
}

/* Fact */

.fact {
    background-color: #95e1d3;
}

.fact-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    color: #fff;
}

.fact-item span {
    font-size: 56px;
    font-weight: bold;
}

.fact-item p {
    font-size: 10px;
    text-transform: uppercase;
    color: #D8F7F0;
}

/* Services */

.services-row {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}


.services .services-row:nth-child(2) {
    border-bottom: 1px solid #ECF1F9;
}

.services .services-row:nth-child(3) {
    padding: 30px 0 50px;
}

/* .services-item p {
    color: #A9A9A9;
} */

.services-item p:nth-child(1) {
    font-size: 14px;
    text-transform: uppercase;
    color: grey;
    font-weight: 500;
}

.services-item p:nth-child(2) {
    font-size: 10px;
}

.services-item i {
    font-size: 32px;
    color: #95e1d3;
    margin: 10px 20px;
}

/* Feature */

.feature {
    background-image: url(../images/feauture-bg.png);
    background-position: center;
    background-size: cover;
    height: 510px;
}

.feature::before {
    content: ' ';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .8);
}

.feature .image img:nth-child(1) {
    position: absolute;
    z-index: 1;
    top: 32%;
    left: 38%;
}

.feature .image img:nth-child(2) {
    position: absolute;
    z-index: 2;
    top: 55%;
    left: 54%;
}
/* Service-2 */

.services-2 .services-2-list {
    /* height: 227px;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr 1fr;
    grid-gap: 5px;   */
    color:rgb(128, 119, 119);
}
.services-2-item {
    border: 1px solid rgb(218, 212, 212);
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    position: relative;
    transition: 300ms all;
}
.services-2-item:hover .lorem{
    visibility: visible;
    opacity: 1;
    transform: translateY(10%);
}
.services-2-item:hover{
    padding-bottom: 120px;
}
.lorem{
    position: absolute;
    z-index: 1;
    top: 10%;
    left:0 ;
    overflow: scroll;
    max-height: 124px;
    border: 1px solid rgb(219, 212, 212);
    color: rgb(168, 161, 161);
    visibility: hidden;
    opacity:0;
    transition:  all 300ms linear, visibility 500ms, opacity 300ms;
}
.services-2-item p{
    padding: 0;
    margin: 5px 0;
    text-transform: uppercase;
    /* line-height: 20px; */
}
.services-2 .services-2-list .services-2-item i:nth-child(1){
    float: left !important;
    color:#95e1d3 !important;
    font-size: 28px;
}
.services-2 .services-2-list .services-2-item i:nth-child(3){
    color:#8AE8D4;
    font-size: 24px;
}
/* Quote */

.quote{
    margin-top: 50px;
    height: 179px;
    background-color: #F8F8F8;
}
.quote-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.quote-content i{
    width: 20%;
    text-align: center;
    margin: auto 0;
    padding: 80px 0;
}
.quote-content i:hover{
    background-color: #F1F1F1;
    opacity: .4;
}
.quote-item{
    /* padding: 30px 30px; */
    margin: 41px 10px;
    display: grid;
    grid-template-columns: 1fr 6fr;
}
.content-left{
    margin: auto 0;
    padding-left: 20px;
}
.content-left p:nth-child(3){
    font-family: 'Kaushan Script', serif;
    display: inline;
}
.content-left .small-text{
    font-size: 12px;    
}
/* Team */

.our-team .info{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 15px 0 50px;
}
.info .player p{
    text-align: center;
}
.info .player p:nth-child(1){
    text-transform: uppercase;
    font-weight: 500;
}
.info .player p:nth-child(2){
    font-size: 12px;
    color:#A9A9A9;
}
.our-team .social{
    height: 35px;
    width: 135px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 4px;
}
.our-team .social i{
    background-color: #F6F37E;
    padding: 5px;
}
.our-team .social i:hover{
    background-color: #F87376;
}
/* Logo Group */
.logo-group{
    background-color:#F8F8F8;
}
.logo-group-list{
    /* display: grid;
    grid-template-columns: repeat(6, 1fr); */
    background-image: url(../images/logo-group.png);
    height: 172px;
    background-repeat: no-repeat;
}

/* Work */
.work, .work-pic{
    padding: 0 !important;
}
.work-pic img{
    width: 100%;
}
/* Testimonial */
.testimonial{
    margin: 20px 0;
}
/* People say */
.people-say{
    background-image: url(../images/bg-people-say.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* height: 570px; */
    position: relative;
}
.people-say::before{
    content:' ';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, .8)
}
.people{
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-bottom: 50px;
    grid-gap: 20px;
}
.people img{
    width: 100%;
}
.people .say p{
    color: #9B9B9B;
}
.people .say p:nth-child(1){
    color: #929292;
    font-weight: 500;
    text-transform: uppercase;
}
.people .say p:nth-child(2){
    font-style: italic;
}
.people .say p:nth-child(4){
    font-size: 12px;
}
/* Latest Blog */
.blog img{
    width: 100%;
}
.blog .sub{
    margin-top: 10px;
}
.blog i{
    color:#8AE8D4;
}
.blog{
    position: relative;
}
.time{
    position: absolute;
    top:105px;
    left: -10px;
    background-color: #8AE8D4;
    width: 40px;
    height: 50px;
    text-align: center;
    color: #fff;
}
.time .date{
    display: block;
    font-size: 18px;
    font-weight: 700;
    padding-top: 5px;
}
.time .month{
    display: block;
    font-size: 12px;
    font-style: italic;
}
 /* Map */
.map{
    background-image: url(../images/map-bg.png);
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 70px 0 50px;
}
.map .map-label{
    color: #F87376;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 45px 0;
}
.map::before{
    content: ' ';
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, .8);
    width: 100%;
}
.map .map-label p{
    margin: 5px 0 0;
    font-weight: bold;
}
/* Footer */

.footer{
    padding-bottom: 20px;
    border-bottom:1px solid #A9A9A9;
}
.blog-ft{
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
}
.blog-ft>*{
    margin-bottom: 8px;
}
.blog-items{
    display: flex;
}
.blog-items img{
    width: 30%;
}
.blog-items p{
    font-size: 10px;
    color:#000;
}
.follow p:nth-child(1){
    font-size: 30px;
    color:#A9A9A9;
    font-weight: bold;
}
.follow p:nth-child(2){
    font-size: 13px;
    color:#9B9B9B;
    margin: 15px 0;
}
.follow p:nth-child(3){
    font-weight: 500;
    padding-bottom: 5px;
    border-bottom: 1px solid #AFAFAF;
}
.follow p span:nth-child(1){
    font-size: 16px;
    font-weight: 600;
}
.follow-us i{
    padding: 0 5px;
    color:#8AE8D4;
    transition: 200ms all;
}
.follow-us i:hover{
    transform: scale(1.1);
    -moz-transform: scale(1.5)
}
.follow-us{
    margin-bottom: 10px;
}
.follow button{
    background-color:#8AE8D4;
    color:#fff;
    font-weight: 600;
}
.follow button:hover{
    color: #edb458;
}
.instagram img{
    width: 85%;
}
.instagram a{
    margin-top: 10px;
    font-size: 12px;
    color: #929292;
}
/* Copyright */
.copyright{
text-align: center;
margin: 10px 0;
}
.copyright a{
    color:#F87376;
    cursor: pointer;
}